@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");

$themeColor: #8ac9fe;
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    transition: all 0.4s ease-in-out 0s;
    color: #fff;
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: "Rubik", sans-serif;

    color: #1e1e1e;
  }
  input,
  textarea {
    font-family: "Rubik", sans-serif;

    box-sizing: border-box;
  }
  a {
    transition: all 0.4s ease-in-out 0s;
    &:hover {
      color: $themeColor;
    }
  }
  button {
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
  }
  div,
  input,
  form {
    box-sizing: border-box;
  }
}
.header-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #8ac9fe;
  padding: 25px 0px;
  transition: all 0.4s ease-in-out 0s;
  z-index: 111;
  &.sticky {
    background: #160e33;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  }
  .logo {
    line-height: 0px;
    a {
      display: inline-block;
    }
  }
}
.menutrigger {
  display: none;
  @media (max-width: 991px) {
    display: block;
    margin-left: 25px;
    li {
      height: 2px;
      width: 25px;
      background: $themeColor;
      margin: auto;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: 767px) {
    margin-left: 20px;
  }
}
.mainmenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 991px) {
    position: absolute;
    left: 0;
    top: 100%;
    background: #022949;
    display: block;
    width: 100%;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.6s ease-in-out 0s;
    &.active {
      visibility: visible;
      opacity: 1;
      transform: scaleY(1);
    }
    li {
      line-height: 35px;
      margin: 0;
    }
  }
  li {
    margin-right: 30px;
    @media (max-width: 1200px) {
      margin-right: 25px;
    }
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: #fff;
      &.active,
      &:hover {
        color: $themeColor;
      }
    }
  }
}
.contact-btn {
  min-height: 35px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $themeColor;
  color: $themeColor;
  padding: 0px 10px;
  border-radius: 34px;
  @media (max-width: 767px) {
    font-size: 14px;
    min-width: 100px;
  }
  svg {
    margin-right: 8px;
  }
}
.hero-area {
  padding: 180px 0px 100px;
  position: relative;
  z-index: 1;
  min-height: 685px;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 180px 0px 50px;
  }
}
.hero-img,
.tech-sector-area {
  svg {
    @media (max-width: 1200px) {
      width: 100% !important;
      height: unset !important;
    }
  }
}
.hero-content {
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
  .typed-cursor {
    display: none;
  }
  .info {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: $themeColor;
    margin-bottom: 20px;
    min-height: 26px;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  .title {
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    min-height: 175px;
    @media (max-width: 1200px) {
      font-size: 40px;
      line-height: 48px;
    }
    @media (max-width: 991px) {
      min-height: unset;
    }
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
    }
    span {
      color: $themeColor;
    }
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
    color: #fff;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  .contact {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 220px;
    min-height: 55px;
    background: rgba(22, 14, 51, 0.5);
    border: 2px solid $themeColor;
    border-radius: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
    &:hover {
      background: $themeColor;
      color: #000;
    }
  }
}
.up-down {
  animation: up-down 1s infinite alternate;
}
.circle {
  animation: circle-ani 2s infinite alternate;
}
@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes circle-ani {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-10deg);
  }
}
.about-area {
  padding: 120px 0px;
  background: linear-gradient(
    110.79deg,
    #58aff8 -0.73%,
    #033259 56.77%,
    #022441 99.96%
  );
  background-size: 200% 100%;
  animation: gradient 10s linear infinite;
  animation-direction: alternate;
  @media (max-width: 767px) {
    padding: 50px 0px 80px;
  }
}
.about-img {
  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
  svg {
    @media (max-width: 1200px) {
      width: 100% !important;
    }
    @media (max-width: 767px) {
      height: unset !important;
    }
  }
}
.about-content {
  .title {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    margin-bottom: 50px;
    color: #fff;
    @media (max-width: 1200px) {
      font-size: 50px;
      line-height: 56px;
      margin-bottom: 30px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }
  .text {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
    @media (max-width: 1200px) {
      margin-bottom: 30px;
    }
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
}
.btn-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(22, 14, 51, 0.5);
  border: 2px solid $themeColor;
  min-height: 50px;
  min-width: 160px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border-radius: 50px;
  letter-spacing: 0.3px;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.accept-title {
  margin-top: 100px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 40px;
  @media (max-width: 1200px) {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
.accept-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  li {
    margin-right: 30px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    @media (max-width: 767px) {
      font-size: 16px;
      margin-right: 15px;
      margin-bottom: 15px;
    }
    .icon {
      margin-right: 12px;
      line-height: 0px;
      @media (max-width: 767px) {
        margin-right: 7px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.financial-sector-area {
  padding: 100px 0px 70px;
  background: #160e33;
  @media (max-width: 767px) {
    padding: 80px 0px 50px;
  }
}
.financial-title {
  text-align: center;
  margin-bottom: 50px;
  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
  .title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
    @media (max-width: 991px) {
      font-size: 40px;
      line-height: 50px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 40px;
    }
  }
  p {
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    font-weight: 300;
    margin: 0;
    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 24px;
    }
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
}
.financial-items {
  display: flex;
  align-items: center;
  margin: 0px -8px;
  justify-content: center;
  flex-wrap: wrap;
  li {
    width: 25%;
    padding: 8px;
    box-sizing: border-box;
    @media (max-width: 991px) {
      width: 33.33%;
    }
    @media (max-width: 767px) {
      width: 50%;
    }
    @media (max-width: 400px) {
      width: 100%;
    }
  }
  .financial-wrap {
    min-height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border: 3px solid #8ac9fe;
    position: relative;
    margin-top: 35px;
    @media (max-width: 1200px) {
      padding: 15px;
    }
    &::before {
      content: "";
      width: 70%;
      position: absolute;
      left: 50%;
      bottom: -3px;
      background: #160e33;
      height: 3px;
      transform: translateX(-50%);
      transition: all 0.4s ease-in-out 0s;
    }
    &:hover {
      &::before {
        width: 0px;
      }
      .icon {
        min-width: 45%;
      }
    }
    .icon {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -29px;
      background: #160e33;
      z-index: 1;
      box-sizing: border-box;
      display: inline-block;
      min-width: 70%;
      transition: all 0.4s ease-in-out 0s;
      img {
        height: 55px;
      }
    }
    .title {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 30px;
      color: #fff;
      font-weight: 500;
      @media (max-width: 1200px) {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
}
.accordion {
  min-height: 500px;
  @media (max-width: 991px) {
    margin-bottom: 30px;
    min-height: auto;
  }
}
.tech-sector-area {
  background: #022949;
  padding: 120px 0px;
  @media (max-width: 767px) {
    padding: 80px 0px 50px;
  }
}
.accordion-wrap {
  background: #9fcbff;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 5px;
  h3 {
    background: #4a87bb;
    border: 1.5px solid #64c0ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    min-height: 55px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px 10px 45px;
    letter-spacing: 0.2px;
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
    &::before {
      content: "\f106";
      font-family: "fontawesome";
      position: absolute;
      left: 15px;
      top: 50%;
      font-size: 20px;
      transition: all 0.4s ease-in-out 0s;
      transform: translateY(-50%) rotate(180deg);
    }
    &[aria-expanded="true"] {
      &::before {
        transform: translateY(-50%) rotate(0deg);
      }
    }
  }
  .accordion-collapse {
    p {
      padding: 30px;
      color: #022949;
      margin-bottom: 0;
    }
  }
}
.opacity-ani {
  animation: fadein 2s infinite alternate;
}
@keyframes fadein {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.work-area {
  padding: 120px 0px;
  background: linear-gradient(161.62deg, #0b528c 11.84%, #032037 74.54%);
  position: relative;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 80px 0px;
  }
}
.work-wrap {
  display: block;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    z-index: 1;
    transition: all 0.4s ease-in-out 0s;
    opacity: 0;
  }
  img {
    transform: scale(1);
    transition: all 0.6s ease-in-out 0s;
    width: 100%;
  }
  &:hover {
    &::before {
      opacity: 0.3;
    }
    img {
      transform: scale(1.2);
    }
  }
}
.work-shape {
  position: absolute;
  &.etherium {
    top: 80px;
    right: 30px;
    @media (max-width: 767px) {
      top: 180px;
      right: 0;
    }
  }
  &.bitcoin {
    top: 80px;
    left: 30px;
  }
  &.monero {
    top: 50%;
    transform: translateY(-50%);
  }
  &.litecoin {
    bottom: 25px;
    left: 5%;
    @media (max-width: 767px) {
      bottom: 40px;
      left: -60px;
    }
  }
  &.monero-1 {
    bottom: 30px;
    right: 5%;
    @media (max-width: 767px) {
      bottom: -20px;
      right: -40px;
    }
  }
}
.testmonial-area {
  background: #160e33;
  padding: 120px 0px;
  @media (max-width: 767px) {
    padding: 80px 0px;
  }
}
.testmonial-wrap {
  background: #160e33;
  border: 2px solid #64c0ff;
  border-radius: 12px;
  padding: 60px 35px;
  text-align: center;
  @media (max-width: 1200px) {
    padding: 30px 15px;
  }
  svg {
    margin-bottom: 30px;
  }
  p {
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 30px;
    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
  img {
    display: inline-block;
  }
  .name {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 24px;
    margin-top: 15px;
    @media (max-width: 1200px) {
      font-size: 18px;
    }
  }
  .description {
    color: $themeColor;
    display: inline-block;
  }
}
.testmonial-active {
  margin: -15px;
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    min-height: 60px;
    min-width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(100, 192, 255, 0.1);
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    z-index: 11;
    @media (max-width: 1200px) {
      font-size: 20px;
      min-height: 50px;
      min-width: 50px;
    }
    &.prev-arrow {
      left: -60px;
      @media (max-width: 1200px) {
        left: 0px;
      }
    }
    &.next-arrow {
      right: -60px;
      @media (max-width: 1200px) {
        right: 0px;
      }
    }
  }
  .testmonial {
    padding: 15px;
  }
}
.client-area {
  padding: 120px 0px;
  @media (max-width: 767px) {
    padding: 80px 0px;
  }
}
.brand-items {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  justify-content: center;
  li {
    margin-bottom: 10px;
    padding: 10px;
    @media (max-width: 991px) {
      width: 50%;
      padding: 0px 5px;
    }
    a {
      display: inline-block;
    }
  }
}
.management-area {
  background: #083c82;
  padding: 120px 0px 95px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 80px 0px;
  }
  .management-shape {
    position: absolute;
    z-index: -1;
    animation: leftright 1s infinite alternate;

    &.left {
      top: 180px;
      left: -15px;
      @media (max-width: 991px) {
        top: 15px;
      }
    }
    &.right {
      bottom: 150px;
      right: -15px;
      @media (max-width: 991px) {
        bottom: 15px;
      }
    }
  }
}
@keyframes leftright {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-15px);
  }
}
.management-wrap {
  background: #adc6e9;
  box-shadow: 0px 0px 0px rgba(8, 60, 130, 0.06);
  border-radius: 8px;
  margin-bottom: 25px;
  padding: 50px;
  text-align: center;
  .name {
    color: #343f52;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
  }
  .designation {
    display: block;
    color: #083c82;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    border-top: 1px solid #005289;
    li {
      margin: 0px 6px;
      a {
        display: block;
      }
    }
  }
}
.footer-area {
  padding-top: 100px;
  background: #160e33;
  .footer-title {
    font-weight: 700;
    font-size: 22px;
    color: #4097ff;
    margin-bottom: 15px;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  .info {
    font-size: 16px;
    line-height: 23px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 25px;
  }
  .footer-contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    li {
      width: 50%;
      font-size: 16px;
      line-height: 33px;
    }
  }
  .free-number {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
  }
  .number-text {
    color: #fff;
    margin-bottom: 25px;
  }
}
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding: 20px 0px;
}
.footer-bottom-menu {
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    justify-content: center;
    margin-bottom: 5px;
  }
  li {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: inline-block;
      color: #fff;
    }
  }
}
.copyright {
  color: #fff;
  margin-bottom: 0;
  text-align: center;
  @media (max-width: 991px) {
    text-align: right;
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}

.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 991px) {
    justify-content: center;
    margin-top: 15px;
  }
  li {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: inline-block;
      font-size: 18px;
      color: #fff;
    }
  }
}
.parallax__container {
  clip: rect(0, auto, auto, 0);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
  .parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
  }
}
